@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300|Patua+One|Raleway+Dots|Special+Elite&display=swap');

*{margin: 0; padding:0;}

/*Design Responsive: revisar página web de https://mediaqueri.es/, para pruebas de ancho de resolución en pantalla de sitios web. Chequear en el
apartado Código Fuente dentro del navegador, en los archivos CSS de cada página. 

Ejemplo de identificación es: @media screen and max-widht: 576px (mobile), 768px (tablet), 992px(pc-escritorio)*/

body{

    background-image: url(img/personajes\ pixel\ dark.jpg);
    font-family: 'Special Elite';


}

#encabezado{

	height: 180px;
	padding-top: 100px;
    box-sizing: border-box;
    background-image: url(img/pattern.jpg);
    align-content: center;



}
    
h1{
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Indie Flower' ;
    font-size: 50px;
    font-family: 'Raleway Dots' ;
}



#menu1{

	height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
        
		
    }
    
#menu1 a{ /*Selector descendente, alternativa a un "Id" o una "Class"*/
    padding: 20px 35px; /*agrandando la zona de la caja*/
    display: inline-block;
    display: flex;
    text-decoration: none;
    color: white;
 

}

#menu1 a:hover{
    background-color: #F66F44; 

}

main{

    min-height: 500px;
	width: 960px;
	margin: auto;
    padding: 20px 0;
    border: 1px solid black;
    background-image: url(img/personajes.jpg);


}

article{

	height: 300px;
    width: 435px;
    background-image: url(img/pattern-transp2.png);
    margin: 30px 0px 0px 30px;
    display: inline-block; /*Alternativa a Float, para que un elemento de bloque pueda comportarse como elemento de línea*/
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;


}

article header{ /*Selector descendente, alternativa a un "Id" o una "Class"*/
			height: 30px;
			background-image: url(img/pattern.jpg);
            text-align: center;
            padding-top: 20px;
            
        }
        
p{
    padding-top:70px;
    
    
}

footer{
	height: 90px;
    background-color: #444;
    text-align: center;
    color: white;
    padding: 80px;
    background-image: url(img/pattern.jpg);


}